{% extends 'base.html' %}

{% block content %}

{% load static %}
{% include 'navbar.html' %}
{% block navbar %}
{% endblock navbar %}
{% load i18n %}
{% load account %}

<style>
section{
    justify-content: center !important;
}

.hero{
    background: url('{% static "img/shapes_1_black.png" %}');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section{
   width:auto;
  margin-left:20%;
  background-color: rgba(59, 56, 56, 0.486);
  z-index: 1 !important;
   padding:50px;
   position: relative;
  /* border: 2px solid red;  */
}
form{
    padding:10px;
    display: flex;
    flex-flow: column;
}

input[type='email'],input[type='text'],input[type='password']{
    padding:15px;
    color:white;
    height:50px;
    width:400px;
    outline: none;
    border:2px solid orange;
    background: none;
    border-radius: 100px;
}

button[type='submit']{
    margin-top: 5px;
    margin-bottom: 5px;
    height:50px;
    width:400px;
}


</style>
<section class="hero  is-fullheight" style="display: block;">
  <div class="hero-body ">
      
    <div class='main-section'>
   
        <h1 class='has-text-danger title is-2'>{% trans "Change Password" %}</h1>
           
        <div>
            {% if form.errors %}
            {% for field in form %}
        {% for error in field.errors %}
        <div >
            <p class="has-text-white" style="font-size: 13px;">{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div >
            <p style="font-size: 13px;" class="has-text-white">{{ error|escape }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>
        
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                
                <div class="field ">
                    <div class="control">
                        {{form.oldpassword}}
                    </div>
                    <p class="help has-text-white">Enter old password</p>
                </div>

                <div class="field ">
                    <div class="control">
                        {{form.password1}}
                    </div>
                    <p class="help has-text-white">set new password</p>
                </div>

                <div class="field ">
                    <div class="control">
                        {{form.password2}}
                    </div>
                    <p class="help has-text-white">Confirm your new password</p>
                </div>
                
                
                <button class="is-success button" type="submit" name="action">{% trans "Change Password" %}</button>
                
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
    </div>
        
    </div>
</div>
</section>

{% endblock content %}

