<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->



<div class="comment" id='comment'>
    {% for comment in comments %}
    <div >
        {{comment.detail|safe}} 
        {{comment.date_commented}}
        <input class='comment_id' type='hidden' value='{{comment.id}}'>
        <button class="individual button is-warning">Read All replies</button>
        <div class='childs'></div>
       
        <button class="reply button is-info">reply now</button>
        <div style="display:none;" class="replyform">
            <input type="text" name='detail' class="input reply-detail" >
            <button class='reply-button button is-link'>comment</button>
        </div>
    </div>
        {% empty %}
        <p>No Comments Yet</p>
        {% endfor %}
        
</div>    
<!-- <script>
 $(document).ready(function(){

$('.individual').click(function(e){
            console.log($(this).siblings('.comment_id').val())
            var comment_id=$(this).siblings('.comment_id').val();
           var parent= $(this);
           $.ajax({
                method:'get',
                url:'{% url "child_comment" %}',
                data:{"comment_id":comment_id},
                success:function(data){ 
                    parent.siblings('.childs').html(data)
                
                },
                error:function(error){
                    console.log("Error was encountered")
                    console.log(error)
                }
            });

        })
    });
</script> -->