{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'css/list.css' %}">

{% include 'navbar.html' %}
{% block navbar %}
{% endblock navbar %}
<div class="main-section">
  <div>
    {% if request.path == '/snippet/user/' %}
    <p class='has-text-danger is-centered title' style="text-align: center;">My Snippets</p>

    {% else %}
    <p class='has-text-danger is-centered title' style="text-align: center;">All Snippets</p>

    {% endif %}

    <div class="snippet-list">
      <div class="snippet-grid">
        {% for object in object_list %}
        <div class="card my-cards">
          <div class="card-content">
            <p class="title is-5 has-text-dark">{{ object.title }}</p>
            <p class="subtitle is-7 has-text-grey">
              by: {{ object.coder.username|default:"NA" }} | {{ object.publication_date|naturaltime }}
            </p>
            <p class="subtitle is-6 has-text-info truncate-text">
              {{ object.description_html|safe|truncatechars:120 }}
            </p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <a href="{% url 'detail_snippet' object.id %}">View</a>
            </p>
            {% if object.coder == request.user %}
            <p class="card-footer-item">
              <a href="{% url 'update_snippet' object.pk %}">Edit</a> &nbsp;|&nbsp;
              <a href="{% url 'delete_snippet' object.pk %}">Delete</a>
            </p>



            {% endif %}
            <!-- Twitter Share -->
            <p class="card-footer-item share-links">
              <a href="https://wa.me/?text={{ object.title|urlencode }} - Check out this code snippet on AwesomeCodeSnippets! {{ object.get_absolute_url|urlencode }}"
                target="_blank" rel="noopener noreferrer">
                <i class="fab fa-whatsapp fa-lg" style="color: #63E6BE;"></i>
              </a>
              <a href="https://twitter.com/intent/tweet?text={{ object.title|urlencode }} - Check out this code snippet on AwesomeCodeSnippets! {{ request.scheme }}://{{request.get_host}}/{{ object.get_absolute_url|urlencode }}"
                target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter fa-lg" style="color: #74C0FC;"></i>
              </a>
            </p>
          </footer>
        </div>
        {% empty %}
        <div class="notification is-warning has-text-centered">
          No Snippets Yet
        </div>
        {% endfor %}
      </div>
    </div>



    {% if page_obj.has_other_pages %}
    <nav class="pagination is-right is-rounded" role="navigation" aria-label="pagination">

      <ul class="pagination-list is-current">
        <li>
          <a class="pagination-link is-current  " aria-label="Page 1" aria-current="page">
            {{page_obj.number}}
          </a>
        </li>
      </ul>

      {% if page_obj.has_previous %}
      <a class="pagination-previous has-text-white " title="This is the first page"
        href="?page={{page_obj.previous_page_number}}">Previous</a>
      {% else %}
      <a class="pagination-previous has-text-white" title="This is the first page" disabled>Previous</a>
      {% endif %}


      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}" class="pagination-next has-text-white">Next page</a>
      {% else %}
      <a class="pagination-next has-text-white" disabled>Next page</a>
      {% endif %}
    </nav>
    {% endif %}
  </div>
</div>



{% endblock content %}