{% extends 'base.html' %}

{% block content %}

{% load static %}
{% include 'navbar.html' %}
{% block navbar %}
{% endblock navbar %}
{% load i18n %}
{% load account %}

<style>
section{
    justify-content: center !important;
}

.hero{
    background: url('{% static "img/shapes_1_black.png" %}');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section{
   width:auto;
  margin-left:5%;
  margin-top:5%;
  background-color: rgba(59, 56, 56, 0.486);
  z-index: 1 !important;
   padding:50px;
   position: relative;
  /* border: 2px solid red;  */
}
form{
    padding:30px;
    display: flex;
    flex-flow: column;
}

input[type='email'],input[type='text'],input[type='password']{
    padding:15px;
    color:white;
    height:50px;
    /* width:400px; */
    outline: none;
    border:2px solid orange;
    background: none;
    border-radius: 100px;
}
input[type='submit']{
    margin-top: 10px;
}


</style>

<section class="hero  is-fullheight" style="display: block;">
  <div class="hero-body ">
      
    <div class='main-section'>
    <p class='title is-2 has-text-danger'>{% trans "Update Snippet" %}</p>
    
    <div>
        {% if form.errors %}
        {% for field in form %}
    {% for error in field.errors %}
    <div >
        <p class="has-text-white" style="font-size: 13px;">{{ error|escape }}</p>
    </div>
    {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
    <div >
        <p style="font-size: 13px;" class="has-text-white">{{ error|escape }}</p>
    </div>
    {% endfor %}
    {% endif %}
    </div>

      <p class="subtitile is-6 has-text-white">{% trans "update your favourite snippet to make it more interactive" %}</p>
      
      <form method="POST" >
        <label class='subtitle is-5 has-text-primary'>Title</label>
        {{form.title}}
        <label class='subtitle is-5 has-text-primary'>Description</label>
        {{ form.media }}
        {{form.description}}
        <label class='subtitle is-5 has-text-primary'>Code</label>
        {{form.code}}
        {% csrf_token %}
        <input type="submit" class="is-success button" value="{% trans 'update snippet' %}" />
        </form>
      
    </div>
        
    </div>
</div>
</section>

{% endblock content %}