html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: black;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  * {
    scrollbar-width: 0px;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  *::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }


/* body{
    width: auto;
   width:300px;
}

.langplusdata {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.languages{
    flex:0.4 !important;
}

.languages > div{
    height:100px;
    width:auto;
    padding:5px;
    background-color: gray;
    color:white;
    margin: 5px;
}

.change_bg{
    background-color: mediumseagreen !important ;
}

.show-data{
    background:cadetblue;
    flex:0.6;
} */
.ct-navbar-img img{
  max-height: max-content !important;
}
